@import '~slick-carousel/slick/slick.css';
@import "~slick-carousel/slick/slick-theme.css";

.slick-arrow{
    background-color: #aba8a8;
    border-radius: 50%;
    top: 35%;
}
.slick-arrow:hover{
    background-color: grey;
    border-radius: 50%;
}

.slick-dots li {
    width: 50px;
    height: 50px;
}

.slick-initialized .slick-slide {
    margin-bottom: 40px;
    margin-top: 20px;
    height: 420px;
}